<footer class="site-footer h-card">
    <data class="u-url" href="{{ "/" | relative_url }}"></data>
  
    <div class="wrapper">
            <a href="{{ '/' | relative_url }}">                
              </svg><span>Kyle Ray</span>
            </a>, 

            <a href="http://csc.ucdavis.edu/~chaos">                
            </svg><span>Jim Crutchfield</span>
          </a>, and the

          <a href="http://csc.ucdavis.edu">                
        </svg><span>Complexity Sciences center </span>

    </div>
  </footer>